<div class="histogram-container">
    <h3>May</h3><a href="#histogram-lowest-prices-May" class="sr-only skip-to-nav">
                      Skip to main content
                    </a>
    <ul class="histogram" data-msg="error--histogram-tooltip">
        <li><span style="height:29.404843612119%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-01" data-price="£  29.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/01/2017" data-departure="Monday  1st " aria-label="Fly out Monday May 1st . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-02" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/02/2017" data-departure="Tuesday  2nd " aria-label="Fly out Tuesday May 2nd . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-03" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/03/2017" data-departure="Wednesday  3rd " aria-label="Fly out Wednesday May 3rd . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-04" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/04/2017" data-departure="Thursday  4th " aria-label="Fly out Thursday May 4th . Enter to select offer."></span></li>
        <li><span style="height:29.404843612119%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-05" data-price="£  29.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/05/2017" data-departure="Friday  5th " aria-label="Fly out Friday May 5th . Enter to select offer."></span></li>
        <li><span style="height:35.287773311109%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-06" data-price="£  35.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/06/2017" data-departure="Saturday  6th " aria-label="Fly out Saturday May 6th . Enter to select offer."></span></li>
        <li><span style="height:29.404843612119%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-07" data-price="£  29.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/07/2017" data-departure="Sunday  7th " aria-label="Fly out Sunday May 7th . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-08" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/08/2017" data-departure="Monday  8th " aria-label="Fly out Monday May 8th . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-09" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/09/2017" data-departure="Tuesday  9th " aria-label="Fly out Tuesday May 9th . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-10" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/10/2017" data-departure="Wednesday  10th " aria-label="Fly out Wednesday May 10th . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-11" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/11/2017" data-departure="Thursday  11th " aria-label="Fly out Thursday May 11th . Enter to select offer."></span></li>
        <li><span style="height:49.014609275419%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-12" data-price="£  49.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/12/2017" data-departure="Friday  12th " aria-label="Fly out Friday May 12th . Enter to select offer."></span></li>
        <li><span style="height:83.331699186195%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-13" data-price="£  84.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/13/2017" data-departure="Saturday  13th " aria-label="Fly out Saturday May 13th . Enter to select offer."></span></li>
        <li><span style="height:24.502402196294%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-14" data-price="£  24.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/14/2017" data-departure="Sunday  14th " aria-label="Fly out Sunday May 14th . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-15" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/15/2017" data-departure="Monday  15th " aria-label="Fly out Monday May 15th . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-16" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/16/2017" data-departure="Tuesday  16th " aria-label="Fly out Tuesday May 16th . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-17" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/17/2017" data-departure="Wednesday  17th " aria-label="Fly out Wednesday May 17th . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-18" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/18/2017" data-departure="Thursday  18th " aria-label="Fly out Thursday May 18th . Enter to select offer."></span></li>
        <li><span style="height:20.580449063634%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-19" data-price="£  20.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/19/2017" data-departure="Friday  19th " aria-label="Fly out Friday May 19th . Enter to select offer."></span></li>
        <li><span style="height:29.404843612119%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-20" data-price="£  29.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/20/2017" data-departure="Saturday  20th " aria-label="Fly out Saturday May 20th . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-21" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/21/2017" data-departure="Sunday  21st " aria-label="Fly out Sunday May 21st . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-22" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/22/2017" data-departure="Monday  22nd " aria-label="Fly out Monday May 22nd . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-23" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/23/2017" data-departure="Tuesday  23rd " aria-label="Fly out Tuesday May 23rd . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-24" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/24/2017" data-departure="Wednesday  24th " aria-label="Fly out Wednesday May 24th . Enter to select offer."></span></li>
        <li><span style="height:24.502402196294%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-25" data-price="£  24.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/25/2017" data-departure="Thursday  25th " aria-label="Fly out Thursday May 25th . Enter to select offer."></span></li>
        <li><span style="height:58.819492107069%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-26" data-price="£  59.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/26/2017" data-departure="Friday  26th " aria-label="Fly out Friday May 26th . Enter to select offer."></span></li>
        <li><span style="height:100%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-27" data-price="£  101.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/27/2017" data-departure="Saturday  27th " aria-label="Fly out Saturday May 27th . Enter to select offer."></span></li>
        <li><span style="height:35.287773311109%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-28" data-price="£  35.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/28/2017" data-departure="Sunday  28th " aria-label="Fly out Sunday May 28th . Enter to select offer."></span></li>
        <li><span style="height:29.404843612119%;" tabindex="0" class="clickableprice " trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-29" data-price="£  29.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/29/2017" data-departure="Monday  29th " aria-label="Fly out Monday May 29th . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-30" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/30/2017" data-departure="Tuesday  30th " aria-label="Fly out Tuesday May 30th . Enter to select offer."></span></li>
        <li><span style="height:14.697519364644%;" tabindex="0" class="clickableprice min-value" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-31" data-price="£  14.99" data-title="From London (STN) To Edinburgh (EDI)" data-sub="Fly out 05/31/2017" data-departure="Wednesday  31st " aria-label="Fly out Wednesday May 31st . Enter to select offer."></span></li>
    </ul>
    <div id="histogram-lowest-prices-May">
        <div class="offer clickableprice" tabindex="0" aria-label="Enter to select offer" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-02" data-price="£  14.99" data-title="London To Edinburgh" data-sub="Fly out Tuesday 2nd ">
            <div class="description">
                <div>
                    <h4 class="offer-title">
                                    Tuesday 2nd
                            </h4></div>
            </div>
            <div class="price">
                <div><span>From</span><span class="currency">£</span><span>14.99</span></div>
            </div>
        </div>
        <div class="offer clickableprice" tabindex="0" aria-label="Enter to select offer" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-16" data-price="£  14.99" data-title="London To Edinburgh" data-sub="Fly out Tuesday 16th ">
            <div class="description">
                <div>
                    <h4 class="offer-title">
                                    Tuesday 16th
                            </h4></div>
            </div>
            <div class="price">
                <div><span>From</span><span class="currency">£</span><span>14.99</span></div>
            </div>
        </div>
        <div class="offer clickableprice" tabindex="0" aria-label="Enter to select offer" trfx-booking="" data-oac="STN" data-dac="EDI" data-departure-date="2017-05-21" data-price="£  14.99" data-title="London To Edinburgh" data-sub="Fly out Sunday 21st ">
            <div class="description">
                <div>
                    <h4 class="offer-title">
                                    Sunday 21st
                            </h4></div>
            </div>
            <div class="price">
                <div><span>From</span><span class="currency">£</span><span>14.99</span></div>
            </div>
        </div>
    </div>
</div>
